@model HomeVM
@foreach (var products in Model.Products)
{
    <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
        <div class="product-item text-center" data-id="@products.Category.Name.ToLower()">
            <div class="img">
                <a href="">
                    <img src="img/@products.ProductImages.FirstOrDefault().Image" class="img-fluid" alt="">
                </a>
            </div>
            <div class="title mt-3">
                <h6>
                    @products.Name.ToUpper()
                </h6>
            </div>
            <div class="price">
                <span class="text-black-50"><a asp-controller="Home" asp-action="AddBasket" asp-route-id="@products.Id">Add to cart</a></span>
                <span class="text-black-50">
                    $@products.Price
                </span>
            </div>
        </div>
    </div>
}
